@import "../mixin";
@import "../variables";

.tab-btn {
	width: 320px;
	@include font(500, 18px, 60px);
	color: $deep-gray-color;

	&:active {
		@include font(700, 18px, 54px);
		color: $main-color;
		border-bottom: 6px solid $main-color;
	}
}
