@import "../../mixin";
@import "../../variables";

%input {
	border: 1px solid $medium-gray-color;
	height: 40px;
	margin: 0.5rem 0;
}

.wrap {
	&::after {
		content: "";
		display: block;
		border-bottom: 1px solid $medium-gray-color;
	}

	& label {
		@include font(400, 16px, 20px);
		display: inline-block;
		min-width: 170px;
	}
}

.payment-input {
	@extend %input;

	&.medium {
		width: 334px;
	}

	&.large {
		width: 800px;
	}
}
