@import "../mixin";
@import "../variables";

.wrap {
	@include flex-column();
	@include align-center();

	& > button {
		margin-top: 34px;
	}

	& > div:nth-child(3) {
		color: $deep-gray-color;
		& span {
			@include font(500, 16px, 20px);
			text-decoration: underline;
		}
	}
}

.logo {
	margin-top: 6.25rem;
	margin-bottom: 4.375rem;
}
