@import "../mixin";
@import "../variables";

%icon-btn {
	@include font(400, 12px, 14px);
	white-space: nowrap;
}

.icon-btn.unclicked {
	@extend %icon-btn;
	color: $deep-gray-color;
}

.icon-btn.clicked {
	@extend %icon-btn;
	color: $main-color;
}

.icon-img {
	display: block;
	margin: 0 auto;
	margin-bottom: 0.25rem;
}
