@import "../../mixin";
@import "../../variables";

.label {
	@include font(400, 16px, 20px);
	color: $deep-gray-color;
	display: block;
	margin-bottom: 0.625rem;
}

.input-wrap {
	width: 480px;
	@include font(400, 16px, 54px);
	border-radius: 5px;
	padding-left: 1rem;

	&.before-check {
		border: 1px solid $medium-gray-color;
		&:active {
			border: 1px solid $main-color;
		}
	}

	&.valid {
		border: 1px solid $medium-gray-color;
		&:active {
			border: 1px solid $main-color;
		}
	}

	&.invalid {
		border: 1px solid $alert-color;
	}
}
